<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1>🤗タスクをつくろう🤗</h1>
    </header>
    <main>    
        <div class="main">
            <form method="post" action="TaskController">
                なまえ　<input type="text" name="title"><br>
                重要度　 <input type="radio" name="priority" value="高">高
                 <input type="radio" name="priority" value="中">中
                 <input type="radio" name="priority" value="低">低<br>
                詳細　　<textarea name="detail" id="" cols="30"></textarea><br>
                <button type="submit">つくる！</button>
                <button type="reset">やりなおし</button>
            </form>
            <a href="/">もどる</a>
        </div>
    </main>
</body>
</html>